.press { 
    list-style: none;
    text-align: center;

    li {
        height: 100px;
        display: inline;
        padding: 20px;

        img {
            max-height: 80px;
            max-width: 150px;
        }
    }
}
