{% if page.imagefeature %}
<footer id="footer"  class="blog-background overlay text-center align-middle animated from-top" style="background-image: url(/images/{{ page.imagefeature }})" >
{% else %}
<footer id="footer"  class="blog-background overlay text-center align-middle animated from-top" style="background-image: url(/images/{{ site.default_bg }})" >
{% endif %}

    <div class="inner">
        <div class="container">

            <ul class="social-icons">
            {% if site.owner.twitter %}<li>
                <a href="http://twitter.com/{{ site.owner.twitter }}" data-toggle="tooltip"  target="_blank">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
            </li>{% endif %}
            {% if site.owner.facebook %}<li>
                <a href="http://facebook.com/{{ site.owner.facebook }}" data-toggle="tooltip"  target="_blank">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
            </li>{% endif %}
            {% if site.owner.google_plus %}<li>
                <a href="{{ site.owner.google_plus }}" data-toggle="tooltip"  target="_blank">
                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                </a>
            </li>{% endif %}
            {% if site.owner.stackexchange %}<li>
                <a href="{{ site.owner.stackexchange }}" data-toggle="tooltip"  target="_blank">
                    <i class="fa fa-stackexchange" aria-hidden="true"></i>
                </a>
            </li>{% endif %}
            {% if site.owner.linkedin %}<li>
                <a href="{{ site.owner.linkedin }}" data-toggle="tooltip"  target="_blank">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
            </li>{% endif %}
            {% if site.owner.vine %}<li>
                <a href="http://vine.co/{{ site.owner.vine }}"
                    data-toggle="tooltip"  target="_blank">
                    <i class="fa fa-vine" aria-hidden="true"></i>
                </a>
            </li>{% endif %}
            {% if site.owner.instagram %}<li>
                <a href="http://instagram.com/{{ site.owner.instagram }}" data-toggle="tooltip"  target="_blank">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
            </li>{% endif %}
            {% if site.owner.flickr %}<li>
                <a href="http://www.flickr.com/photos/{{ site.owner.flickr }}" data-toggle="tooltip"  target="_blank">
                    <i class="fa fa-flickr" aria-hidden="true"></i>
                </a>
            </li>{% endif %}
            {% if site.owner.spotify %}<li>
                <a href="https://play.spotify.com/user/{{ site.owner.spotify }}"
                    data-toggle="tooltip"
                     target="_blank">
                    <i class="fa fa-spotify" aria-hidden="true"></i>
                </a>
            </li>{% endif %}
            {% if site.owner.partner %}<li>
                <a href="{{ site.owner.partner }}" data-toggle="tooltip"
                    title="My partner" target="_blank">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                </a>
            </li>{% endif %}
            {% if site.owner.github %}<li>
                <a href="http://github.com/{{ site.owner.github }}" data-toggle="tooltip"  target="_blank">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
            </li>{% endif %}
            {% if site.owner.dotfiles %}<li>
                <a href="{{ site.owner.dotfiles }}" data-toggle="tooltip"
                    title="My dotfiles configuration" target="_blank">
                    <i class="fa fa-terminal" aria-hidden="true"></i>
                </a>
            </li>{% endif %}
        </ul>

            <ul class="menu-items">
                {% for link in site.links %}
                <li>
                    {% if link.external %}
                        <a href="{{ link.url }}">{% if link.icon %}<i class="icon-{{ link.icon }}"></i>{% else %}{{ link.title }}{% endif %}</a>
                    {% else %}
                        <a href="{{ link.url }}">{% if link.icon %}<i class="icon-{{ link.icon }}"></i>{% else %}{{ link.title }}{% endif %}</a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            <div>
                <br>

                <a id="verifiedcommit" class="btn"
                    href="https://github.com/riichard/riichard/commits/gh-pages/{{ page.path }}">
                    Loading content verification information ...
                </a>
                <div id="verifiedmessage"></div>
                <script type="text/javascript">
                    var errorReasons = {
                        expired_key:           " The key that made the signature is expired." ,
                        not_signing_key:       " The \"signing\" flag is not among the usage flags in the GPG key that made the signature. " ,
                        gpgverify_error:       " There was an error communicating with the signature-verification service." ,
                        gpgverify_unavailable: " The signature-verification service is currently unavailable." ,
                        unsigned:              " The latest change does not include a signature." ,
                        unkown_signature_type: " A non-PGP signature was found in the commit." ,
                        no_user:               " No user was associated with the committer email address in the commit." ,
                        unverified_email:      " The committer email address in the commit was associated with a user, but the email address is not verified on her/his account." ,
                        bad_email:             " The committer email address in the commit is not included in the identities of the PGP key that made the signature." ,
                        unknown_key:           " The key that made the signature has not been registered with any user's account." ,
                        malformed_signature:   " There was an error parsing the signature." ,
                        invalid:               " The signature could not be cryptographically verified using the key whose key-id was found in the signature." ,
                        valid:                 " None of the above errors applied, so the signature is considered to be verified." ,
                    };

                    document.addEventListener("DOMContentLoaded", function(event) {
                        $.getJSON('https://api.github.com/repos/riichard/riichard/commits?path={{ page.path }}&callback=?', function(commits) {
                            var $verify = $("#verifiedcommit");
                            var $message = $("#verifiedmessage");
                            if(!commits || !commits.data || !commits.data[0].commit) {
                                var errorMessage = '<i class="fa fa-warning" aria-hidden="true"></i> '
                                    +'Could not verify authenticity of the content on this page. Reason unknown'
                                $verify.html(errorMessage).addClass('btn-warning');
                            }

                            // Warn the user in case the commit isn't valid for whatever reason
                            // We only check the latest commit on the document. We
                            // trust the last editor to monitor the content of the page
                            // TODO Make a very visible warning message.
                            var lastcommit = commits.data[0].commit;
                            var lastsha = commits.data[0].sha;

                            if(!lastcommit.verification.verified) {
                                var errorMessage = '<i class="fa fa-warning" aria-hidden="true"></i> '
                                    +'Could not verify authenticity of the content on this page. Latest change was not signed.'
                                $verify.html(errorMessage).addClass('btn-warning');
                            }


                            if(lastcommit.verification.reason !== 'valid') {
                                var errorMessage = '<i class="fa fa-warning" aria-hidden="true"></i> '
                                    +'Could not verify authenticity of the content on this page. Reason: '
                                    +'<b>'
                                    +lastcommit.verification.reason
                                    +'</b>'
                                $verify.html(errorMessage).addClass('btn-warning');
                                $message.text(errorReasons[lastcommit.verification.reason]);
                                return
                            }

                            // The content seems valid. But we don't want to imply
                            // a statement it is. User should remain aware this is
                            // still frontend code and that it could be tampered with.
                            $verify.html('<i class="fa fa-check-circle" aria-hidden="true"></i> Verify content on GitHub');
                            $message.html('Latest commit on page: '
                                +lastsha+' signed by '+lastcommit.committer.name+' on '
                                +lastcommit.committer.date);
                        });
                    });
                </script>

            </div>

        </div>
    </div>
    {% if site.animated_fins and site.triangleheader %}
        <div class="decor-wrapper">
            <svg id="footer-decor" class="decor top" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 100 100" preserveAspectRatio="none">

                <path class="large left" d="M0 0 L50 50 L0 100" fill="rgba({{ site.fin_color }}, .1)"></path>
                <path class="large right" d="M100 0 L50 50 L100 100" fill="rgba({{ site.fin_color }}, .1)"></path>

                <path class="medium left" d="M0 0 L50 50 L0 66.6" fill="rgba({{ site.fin_color }}, .3)"></path>
                <path class="medium right" d="M100 0 L50 50 L100 66.6" fill="rgba({{ site.fin_color }}, .3)"></path>

                <path class="small left" d="M0 0 L50 50 L0 33.3" fill="rgba({{ site.fin_color }}, .5)"></path>
                <path class="small right" d="M100 0 L50 50 L100 33.3" fill="rgba({{ site.fin_color }}, .5)"></path>

                <path d="M0 0 L50 50 L100 0 L0 0" fill="rgba(255,255,255, 1)"></path>

            </svg>
        </div>
    {% else %}
    {% if site.triangleheader %}
        <div class="decor-wrapper">
            <svg id="footer-decor" class="decor top" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 100 100" preserveAspectRatio="none">
                <path d="M0 0 L50 50 L100 0 L0 0" fill="rgba(255,255,255, 1)"></path>
                <path d="M48 48 L50 51 L52 48 L48 48" fill="rgba(255,255,255, 1)"></path>
            </svg>
        </div>
    {% endif %}
    {% endif %}
</footer>
