

<div class="press">

<h2 class="text-center">Read more about my work on:</h2>

<ul class="logos">
{% for press in site.data.press %}
    <li>
        <a href="{{ press.url }}">
            <img
            src="{{ press.logo }}"
            alt="{{ press.name }}" />
        </a>
    </li>
{% endfor %}
    <div class="clear"></div>
</ul>

<hr>

<div class="quote">
    <span style="font-size:20px;">
        “I see a lot of opportunities in the data Owlin collects, the fact that they are able to do real-time analysis is in my opinion very valuable.”
    </span>
    <footer>
        Werner Vogels - CTO & VP Amazon.com
    </footer>
</div>

<hr>

<div class="quote">
    "The child prodigies of our country"
    <footer>
        <a
            href="http://www.mt.nl/332/63776/business/de-wonderkinderen-van-ons-land.html">
            De wonderkinderen van ons land - 25 onder 25 - Sprout.nl
        </a>
    </footer>
</div>
<div class="clear"></div>

</div>
