<div class="row signup">
    <form action="http://owlin.us1.list-manage.com/subscribe/post" method="POST">
        <b>Subscribe by email</b>
        <div class="input-group col-md-4">
            <input type="text" class="form-control" autocapitalize="off" autocorrect="off" name="MERGE0" size="25" placeholder="Your email address" value="">
            <input type="hidden" name="u" value="7c9546f63f47d8a4e3b3ee1ce">
            <input type="hidden" name="id" value="1b37adac0b">
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit">Stay in touch!</button>
            </span>
        </div>
    </form>
</div>
