<html>
  <head>
    <meta content='{{ site.title }}' property='og:title' />
    <title>{{ site.title }}</title>
    {% include head.html %}
  </head>
  <body>

    <!-- import for the facebook comments -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=256634181194241&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    {% include header.html %}
    <div id='container'>
      {% include branding.html %}
      {% include links.html %}
      <div class="content">
        {{ content }}
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
